@model EPiServer.Reference.Social.Reviews.ViewModels.ReviewSubmissionViewModel

<div>
    <p>Have something to say about this product? Write a review to let us know what you think!</p>
    @using (Html.BeginForm("AddAReview", "Product", FormMethod.Post, new { @class = "form-horizontal" }))
    {
        @Html.ValidationSummary()

        @Html.HiddenFor(m => m.ProductCode) 
        <div class="form-group">
            <label for="title" class="control-label">Title</label>
            @Html.TextBoxFor(m => m.Title, new { @class = "form-control", placeholder = "Great product!" })
        </div>
            <div class="form-group">
                <label for="nickname" class="control-label">Nickname</label>
                @Html.TextBoxFor(m => m.Nickname, new { @class = "form-control", placeholder = "Example: abby2012" })
            </div>
            <div class="form-group">
                <label for="location" class="control-label">Location</label>
                @Html.TextBoxFor(m => m.Location, new { @class = "form-control", placeholder = "Example: Las Vegas, NV" })
            </div>
            <div class="form-group">
                <label for="rating" class="control-label">Rating</label>                
                @Html.DropDownListFor(
                    m => m.Rating,
                    new[] {
                        new SelectListItem { Value = "5", Text = "5 Stars" },
                        new SelectListItem { Value = "4", Text = "4 Stars" },
                        new SelectListItem { Value = "3", Text = "3 Stars" },
                        new SelectListItem { Value = "2", Text = "2 Stars" },
                        new SelectListItem { Value = "1", Text = "1 Stars" }
                    }, 
                    new { @class = "form-control" }
                )
            </div>
            <div class="form-group">
                <label for="body" class="control-label">Review</label>
                @Html.TextAreaFor(m => m.Body, new { @class = "form-control", placeholder = "Example: I love this product. I will recommend it to all of my friends..." })
            </div>
            <button type="submit" role="button" class="btn btn-default">Submit Review</button>
    }
    <hr />
</div>